# CODE EDITORS
.idea


# SASS & NPM
node_modules/
npm-debug.log
.sass-cache


# COMPOSER
vendor/


# LARAVEL PHP
public/storage/
.env
Homestead.yaml
Homestead.json


# TESTING
selenium-debug.log
test/unit/coverage
test/e2e/reports


# OS FILES
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
