
/* ===============
  Normalize - Alternative to CSS resets
  https://necolas.github.io/normalize.css/
=============== */

@import 'normalize.css';


/* ===============
  Structure
=============== */

html, body {
    height: 100%;
}

.container {
    max-width: $grid-container-width;
    margin: 0 auto;
}


/* ===============
  Links
=============== */

a {
    outline: 0;
}


/* ===============
  Typography
=============== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
}

@each $breakpoint, $headings in $headings-sizes {
	@include gridle_state($breakpoint) {
		@each $heading, $font-size in $headings {
			.#{$heading} {
				font-size: $font-size;
			}
		}
	}
}
