
/* ===============
  Normalize - Alternative to CSS resets
  https://necolas.github.io/normalize.css/
=============== */

@import 'normalize.css';


/* ===============
  Structure
=============== */

html {
    font-size: $base-font-size;
}

html, body {
    height: 100%;
}

noscript {
    background-color: $black;
    color: $white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    text-align: center;
    font-size: 0.9rem;
    padding: .25rem;

    a {
        color: $white;
        text-decoration: underline;

        &:hover, &:focus {
            color: $white;
            text-decoration: underline;
        }
    }
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: $black;
    color: $white;
}


/* ===============
  Links
=============== */

a {
    outline: 0;
    text-decoration: none;
}


/* ===============
  Typography
=============== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

._h1,
._h2,
._h3,
._h4,
._h5,
._h6 {
    // Default titles styles
}

@each $breakpoint, $headings in $headings-sizes {
	// @include gridle_state($breakpoint) {
		@each $heading, $font-size in $headings {
			._#{$heading} {
				font-size: $font-size;
			}
		}
	// }
}
