
/* ===============
  Normalize - Alternative to CSS resets
  https://necolas.github.io/normalize.css/
=============== */

@import 'normalize.css';


/* ===============
  Structure
=============== */

html {
    font-size: $base-font-size;

    @include gridle_state(medium_max) {
        font-size: $base-font-size * 0.9;
    }

    @include gridle_state(short) {
        font-size: $base-font-size * 0.9;
    }
}

html, body {
    height: 100%;
}

body {
    font-family: $typo-font-family;
    font-size: $typo-font-size;
    font-style: $typo-font-style;
    font-weight: $typo-font-weight;
    line-height: $typo-line-height;
    letter-spacing: $typo-letter-spacing;
    text-transform: $typo-text-transform;
    color: $typo-color;
    background-color: $body-bgColor;
}

noscript {
    background-color: $black;
    color: $white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    text-align: center;
    font-size: 0.9rem;
    padding: .25rem;

    a {
        color: $white;
        text-decoration: underline;

        &:hover, &:focus {
            color: $white;
            text-decoration: underline;
        }
    }
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: $black;
    color: $white;
}


/* ===============
  Links
=============== */

a {
    outline: 0;
    text-decoration: none;
}


/* ===============
  Typography
=============== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

._h1,
._h2,
._h3,
._h4,
._h5,
._h6 {
    @include headingsStyle();
}

@each $breakpoint, $headings in $headings-sizes {
	@include gridle_state($breakpoint) {
		@each $heading, $font-size in $headings {
			._#{$heading} {
				font-size: $font-size;
			}
		}
	}
}
