

/* ===============
  Mixins
=============== */

@mixin blurryFix() {
    -webkit-filter: blur(0);
    -webkit-font-smoothing: subpixel-antialiased;
    transform-style: preserve-3d;
}

@mixin alignVertical() {
    display: table;
    width: 100%;
    height: 100%;

    & > * {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin unstyleList() {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* ===============
  Helper classes
=============== */

._text-left {
    text-align: left;
}

._text-center {
    text-align: center;
}

._text-right {
    text-align: right;
}
