
/* ===============
  Global variables
=============== */

// Colors
$black: #000;
$white: #fff;

// Body
$body-font-size: 100%;

// Media queries
$breakpoints: (
    small: 320px,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);

// Typography
$typo-font-size: 1rem;
$typo-line-height: 1.4;
$typo-font-weight: normal;
$typo-font-style: normal;
$typo-color: $black;
$typo-font-family: Arial, sans-serif;

// Headings
$headings-sizes: (
    default: (
        'h1': 4rem,
        'h2': 1.75rem,
        'h3': 1.5rem
    ),
    medium: (
        'h1': 5rem,
        'h2': 2.25rem,
        'h3': 2rem
    )
);
