
/* ===============
  Global variables
=============== */

// Colors
$black: #000;

// Media queries
$breakpoints: (
    mobile: 0px,
    tablet: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);

// Grid system
$grid-columns: 12;
$grid-gutter: 20px;
$grid-container-width: 1200px;

// Typography
$typo-font-size: 100%;
$typo-lineheight: 1.5;
$typo-color: $black;

// Headings
$headings-sizes: (
    small: (
    	'h1': 40rem,
        'h2': 35rem,
        'h3': 30rem
    ),
    medium: (
    	'h1': 55rem,
        'h2': 50rem,
        'h3': 45rem
    )
);
