
/* ===============
  Global variables
=============== */

// Colors
$black: #000;
$white: #fff;

// Body
$body-bgColor: $white;
$base-font-size: 100%;

// Media queries
$breakpoints: (
    small: 320px,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
    xxxlarge: 1840px
);
$breakpointShort: 640px;

// Grid system
$grid-columns: 12;
$grid-gutter: 20px;
$grid-container-width: 960px;

// Typography
$typo-font-size: 1rem;
$typo-line-height: 1.4;
$typo-font-weight: normal;
$typo-font-style: normal;
$typo-color: $black;
$typo-font-family: Arial, sans-serif;
$typo-letter-spacing: 0px;
$typo-text-transform: none;

// headings
$headings-line-height: 1.3;
$headings-font-weight: normal;
$headings-font-style: normal;
$headings-color: $typo-color;
$headings-font-family: $typo-font-family;
$headings-letter-spacing: none;
$headings-text-transform: none;

$headings-sizes: (
    default: (
        'h1': 4rem,
        'h2': 1.75rem,
        'h3': 1.5rem
    ),
    medium: (
        'h1': 5rem,
        'h2': 2.25rem,
        'h3': 2rem
    )
);
